html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #1C4E98;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.adding_post {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 78, 152,.6);
  transition: background-color 1s;
  .adding_post_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .inputs {
      .title {
        color: #B2C6E6;
        font-size: 2.5em;
        padding-bottom: 30px;
        text-align: center;
      }
      input, button {
        display: block;
        height: 60px;
        background-color: #B2C6E6;
        font-size: 2em;
        padding: 10px;
        border: 0px solid yellow;
        outline: none;
        margin-bottom: 20px;
        width: 400px;
      }
    }
  }
}

.outbox {
  width: 100%;
  &.top {
    color: blue;
  }
  &.content {
    color: black;
  }
  &.footer {
    color: lightBlue;
  }
}
.inbox {
  width: 75%;
  margin: 0 auto;
  &.top {
  }
  &.content {
    .feed {
      width: 700px;
      border: 1px solid black;
      margin: 0 auto;
      .user_info {
        height: 50px;
        font-size: .9em;
      }
      .user_post {
        min-height: 300px;
        .post_image {
          img {
            width: 100%;
            height: 100%;
          }
        }
        .post_content {
          font-size: 1em;
        }
      }
      .post_info {
        font-size: .8em;
      }
    }
  }
  &.footer {
    color: lightBlue;
  }
}